<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简历-张玉伟</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="addon/bootstrap/bootstrap.min.css">
    <script type="text/javascript" src="addon/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="addon/vue/vue.min.js"></script>
    <script type="text/javascript" src="addon/layer/layer.js"></script>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/resume.css" />
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/resume.js" ></script>
<style type="text/css">

</style>
</header>

<body>
<section class="col-md-8 col-12 col-lg-7 jk-leavetop container" id="resume">
<div class="row">
<div class="leftbar col-12 col-sm-12 col-md-3">
  <div class="basex">
      <h5>基本信息</h5>
      <ul>
		  <li v-for="item in retinfo.baseinfo">${ item.key } : ${item.value}</li>
      </ul>
  </div>
  <div class="basex">
    <h5>学历信息</h5>
    <ul>
		<li v-for="item in retinfo.education">${item.key } : ${item.value} </li>
    </ul>
  </div>
  <div class="basex">
    <h5>求职方向</h5>
    <ul>
		<li v-for="item in retinfo.require">${item.key} : ${item.value} </li>
    </ul>
  </div>
  <div class="basex">
    <h5>联系方式</h5>
    <ul>
		<li>Tel/WeChat: <strong>${ retinfo.contact.Tel }</strong></li>
		<li>Email: <a :href="'mailto:' + retinfo.contact.Email">${ retinfo.contact.Email }</a></li>
		<li>QQ: ${ retinfo.contact.QQ }</li>
    </ul>
  </div>
  <div class="basex">
    <h5>个人站点</h5>
    <ul>
		<li v-for="item in retinfo.site">${item.key} : <a :href="'http://' + item.value" target="_blank">${item.value}</a></li>
    </ul>
  </div>
</div>
<div class="rightcontent col-12 col-sm-12 col-md-9">
  <div class="item-one">
    <h3>工作经历</h3>
    <hr class="split">

    <div class="item-two" v-for="work in retinfo.work">
		<h4>${ work.start } - ${ work.end } - ${ work.company }</h4>
      <div class="item-three" v-for="project in work.projects">
		  <strong>${ project.name }</strong>
		  <div><cite>${ project.subname }</cite></div>
        <ol>
			<li v-for="item in project.items">${ item.content }</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="item-one">
    <h3>个人技能</h3>
    <hr class="split"/>
    <div class="item-two">
      <ol>
		  <li v-for="skill in retinfo.skills">${ skill.content }</li>
      </ol>
    </div>
  </div>

  <div class="item-one">
    <h3>爱好</h3>
    <hr class="split"/>
    <div class="item-two">
      <ol>
		  <li v-for="hobby in retinfo.hobby">${ hobby.content }</li>
      <ol>
    </div>
  </div>
</div>
</div>
</section>

</body>

</html>
