
.notfound {
    font-size: 200%;
    color: hotpink;
}

.input-small {
	display:inline;
	width: 100px;
}

.input-middle {
	display: inline;
	width: 200px;
}

.input-big {
	display: inline;
	width: 400px;
}

.jk-leavetop {
    margin-top: 4%;
}

.jk-leavebottom {
    margin-bottom: 4%;
}

.jk-container-center {
      margin:0 auto;
}

.jk-not-float {
     margin:0 auto;
     float: none;
}
.sidebar-nav {
    padding: 9px 0;
}

ul {
    list-style-type: none;
}

.ul-horizontal ul li {
    display: inline;
}


.extern-brower ul {
    float: none;
    margin-left: 5%;
}
.extern-brower ul > li {
    margin-right: 1%;
    padding: 4px;
    margin: 4px;
}
.extern-brower  a {
    text-align: center;
    border: 1px solid rgba(225, 211, 231, 0.68);
    padding: 40px !important;
    background-color: rgba(225, 211, 231, 0.28);
    width: 120px;
    height: 120px;
}