
.notfound {
    font-size: 200%;
    color: hotpink;
}

.input-small {
	display:inline;
	width: 100px;
}

.input-middle {
	display: inline;
	width: 200px;
}

.input-big {
	display: inline;
	width: 400px;
}

.jk-leavetop {
    margin-top: 4%;
}

.jk-leavebottom {
    margin-bottom: 4%;
}

.jk-container-center {
      margin:0 auto;
}

.jk-not-float {
     margin:0 auto;
     float: none;
}
.sidebar-nav {
    padding: 9px 0;
}

ul {
    list-style-type: none;
}

.ul-horizontal ul li {
    display: inline;
}