@charset "UTF-8";
.base .card-body {
  padding: 1.25rem 0;
}
.baseinfo { }
  .baseinfo li {
    margin: 0 .8em; }
    .baseinfo li a {
      text-decoration: none;
      cursor: default;
      color: black; }

.baseinfo2 {
 }
  .baseinfo2 li {
    margin: 0 .8em;
  }

.panel-heading {
  font-weight: bold; }

body {
  font-family: 'Lato' , Calibri, Arial, sans-serif; 
}

